#branding h1, #branding h1 a:link, #branding h1 a:visited{
    color: whitesmoke;
}

.module h2, .module caption, .inline-group h2{
    background: yellowgreen;
}

#header{
    background: yellowgreen;
}

.dashboard #content{
    max-width: 100%!important;
    width:auto!important;
}